.nav{
    background-color: #072146;
    }
    
    
.card{
    background-color: #F4F4F4;
    display:inline-flex;
    text-align: center;
    
    /* margin-left: 60%;    */
} 

.form{
text-align: center;
margin-top: 10%;
padding-block-end: 10%;
}